<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Gagan Swami. It used data from mapbox .com and weatherstack.com</p>
    <img class="portrait" src="/img/punit.jpeg">
    <p>Manager partner and linux system admin.</p>
    <img class="portrait" src="/img/me.jpg">
    <p> Manager partner and web application developer.</p>
</div>


    
    {{>footer}}
</body>

</html>